body {
  background-color: #C8A2C8;
}

h1 {
  color: darkblue;
  margin-left: 70px;
}
p{
color: purple;
}
li{
  color: silver
}
a{
colour: red
}
h3{
  color: #3e3b82;
}
h4{
color: #301f73;
}
