body {
  background-color: #C8A2C8;
}

h1 {
  color: darkblue;
  margin-left: 70px;
}
H2 {
    color: purple;
}
p{
color: #3b4482;
}
h3{
  color: #3e3b82;
}
a{
colour: red
}
hr{
    color: black;
}
h4{
color: #301f73;
}
